.container {
	margin-top: 50px;
}

body {
	font-family: sans-serif;
	text-align: center;
	background: #428aff; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, #428aff, #00ffbf); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #428aff, #00ffbf); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #428aff, #00ffbf); /* For Firefox 3.6 to 15 */
	background: linear-gradient(bottom right, #428aff, #00ffbf); /* Standard syntax */
	min-height: 700px;
}

h1 {
	color: #282828;
}

#grid {
	display: table;
	border-spacing: 1px;
	background-color: #3d3d3d;
	border: 5px solid #3d3d3d;
	margin-left: 50%;
	-webkit-transform: translate(-50%);
    transform: translate(-50%);
    min-width: 400px;
}

.row {
	display: table-row;
}

.pixel {
	height: 40px;
	width: 40px;
	display: table-cell;
	background-color: white;
}

.color {
	height: 40px;
	width: 40px;
}

#currentPenColor {
	margin-bottom: 20px;
	color: #3d3d3d;
}

#colorSelector {
	border: 5px solid #3d3d3d;
	margin-bottom: 10px;
	display: flex;
	width: 320px;
	margin-left: 50%;
	-webkit-transform: translate(-50%);
    transform: translate(-50%);
}

#redSelector {
	background-color: red;
	height: 40px;
	width: 40px;
}

#orangeSelector {
	background-color: orange;
	height: 40px;
	width: 40px;
}

#yellowSelector {
	background-color: yellow;
	height: 40px;
	width: 40px;
}

#greenSelector {
	background-color: green;
	height: 40px;
	width: 40px;
}

#blueSelector {
	background-color: blue;
	height: 40px;
	width: 40px;
}

#purpleSelector {
	background-color: purple;
	height: 40px;
	width: 40px;
}



