@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

body {
	background: #428aff; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, #428aff, #00ffbf); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #428aff, #00ffbf); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #428aff, #00ffbf); /* For Firefox 3.6 to 15 */
	background: linear-gradient(bottom right, #428aff, #00ffbf); /* Standard syntax */
	font-family: helvetica;
	margin-top: 0px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	min-height: 700px;
}

#quiz {
	margin: 6em auto;
	background-color: white;
	max-width: 800px;
	padding-top: 50px;
	padding-bottom: 50px;
	border-radius: 5px;
}

.quiz-title {
	text-align: center;
	font-size: 20px;
	font-weight: bold; 
	margin-bottom: 20px;	
}

#questions {
	padding: 50px;
	display: block;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#question {
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #04cc9a;
}

button {
	color: white;
	background-color: #04cc9a;
	padding: 15px 32px;
	border-radius: 5px;
	border: none;
	font-size: 16px;
	min-width: 250px;
	align-self: center;
	margin: auto;
	margin-top: 20px;

}
