* {
	text-align: center;
}

table {
	width: 100%;
	border: 1px solid red;
	border-collapse: collapse;

}

td {
	border: 1px solid red;
	border-collapse: collapse;
}

td:nth-child(odd) {
	background-color: blue;
}

/* style the table however you like! */

/* how would you add a border? */
/* how would you make each cell a different color? */

/* how would you make each row a different color? */

