html {
	height: 100%;
}
body {
	margin: 0px;
	min-height: 100%;
	position: relative;
	padding-bottom: 50px
}

#navbar {
	width: 100%;
	/*border: 1px solid red;*/
	background-color: blue;
	margin-top: 0px;
	padding: 20px;
	float: right;
}

#navbar li {
	display: inline;
	color: white;
	text-align: center;
}

#navbar ul {
	margin: 0px;
	text-align: right;
	width: 100%;
}

#main-container {
	border: 1px solid red;
	width: 800px;
	margin: auto;
	height: auto;
	/*margin-bottom: 50px;*/
}

#footer {
	position: absolute;
	bottom: 0;	
	border: 1px solid red;
	height: 50px;
	width: 100%;
}