body {
	background-color: #ffefa0;

}

#words {
	display: block;
}

label {
	display: block;
	padding-right: 10px;
	font-family: sans-serif;
	font-size: 16px;
}

button {
	display: block;
}

.word {
	display: flex;
	border: 1px solid red;
}

input {
	width: 200px;
	border-radius: 5px;
	border:none;
	height: 26px;
}